:root {
  --dark: rgb(18, 18, 18);
  --primary: #141414;
  --light: #f3f3f3;
  --darkgray: #686868;
}

html,
body {
  background-color: var(--dark);
  color: var(--light);
  font-size: 16px;
  font-weight: normal;
  height: 100%;
  letter-spacing: 0px;
  margin: 0px auto;
  /* min-height: 500px; */
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Tilt Warp", cursive;
  text-align: left;
  padding: 0px;
  border: 0px;
  vertical-align: baseline;
  line-height: unset;
  list-style: none;
}

/* header */

.header-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "nt mn sb . . . ";
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 0;
  background-color: var(--dark);
  width: 100%;
  margin-bottom: 0px;
}

.logo img {
  width: 100%;
}
img {
  max-width: 100%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.255);
}

.main-nav {
  grid-area: mn;
  padding: 30px 30px 0 20px;
}

.main-nav a,
.sub-nav ul li a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--light);
  margin: 5px;
  font-size: 24px;
  transition: 200ms ease-in-out;
}

.main-nav a:hover {
  background: linear-gradient(
      to right,
      rgb(0, 204, 255),
      rgb(153, 51, 255) 31%,
      rgb(230, 70, 182) 52%,
      rgb(255, 249, 170) 77%,
      rgb(0, 255, 153),
      rgb(0, 204, 255)
    )
    0% 50% / 200% 50%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--dark);
  border-radius: 8px;
}

.sub-nav {
  grid-area: sb;
}

/* .sub-nav {
    grid-area: sb;
    padding: 30px 40px 0 10px;
  }
   */

.sub-nav ul {
  color: var(--light);
  text-decoration: none;
  list-style-type: none;
  margin: 5px;
  font-size: 24px;
}

.sub-nav ul li:hover,
.sub-nav ul li a:hover {
  background: linear-gradient(to right, rgb(0, 255, 153), rgb(0, 204, 255)) 0%
    50% / 200% 50%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid var(--dark);
  border-radius: 8px;
  color: var(--primary);
  display: flex;
  justify-content: space-around;
  transform: translateZ(0px);
}

/* Search */

.search-container {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.search {
  position: relative;
  top: 80px;
  display: flex;
  justify-content: space-between;
}

.search-input {
  border-radius: 8px;
  border: none;
  background-color: #fff;
  padding: 15px;
  width: 900px;
  outline: none;
  background-repeat: no-repeat;
  background-size: 7%;
  background-position: 4px;
}

::placeholder {
  color: rgb(153, 51, 255);
  font-size: 2rem;
  padding: 10px;
  text-transform: capitalize;
}

/* Alert */
.alert {
  background-color: #e50914;
}

.error {
  color: #141414;
  font-size: 24px;
}

.block {
  display: block;
}

/* main-container */

/* main container */
.main-container {
  padding: 0 50px 50px 50px;
}

.box-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
}

.box-container div img {
  border-radius: 20px;
  transition: transform 0.3s;
}

.box-container div img:hover {
  transition: transform 0.3s;
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  cursor: pointer;

  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.card-box-container {
  border-radius: 20px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  position: relative;
}

.titles {
  font-weight: 700;
}

@media (max-width: 900px) {
  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }
}

@media (max-width: 700px) {
  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "nt nt nt  .  .  . sb . . . "
      "mn mn mn mn mn mn  mn mn mn mn";
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .wrapper {
    font-size: 15px;
  }

  header {
    margin: 0;
    padding: 20px 0 0 0;
    position: static;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "nt"
      "mn"
      "sb";
    text-align: center;
  }

  .logo {
    max-width: 100%;
    margin: auto;
    padding-right: 20px;
  }

  .main-nav {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 18px;
  }

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .box a:hover {
    transition: transform 0.3s;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1.2);
  }

  .logos-social-media {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .sub-nav ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-size: 15px;
  }
}

/* Login */

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 180px);
  margin-top: 20px;
}

h2 {
  color: #680e0e;
}

.login__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  padding: 60px 68px 40px;
  min-height: 500px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.login__container--form {
  display: flex;
  flex-direction: column;
}

.login__container--form label {
  font-size: 14px;
}

.login__container--remember-me {
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.login__container--remember-me a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.login__container--remember-me a:hover {
  text-decoration: underline;
}

.login__container--social-media {
  color: #fff;
  margin-top: 20px;
}

.login__container--social-media > div {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
  color: #550707;
}

.login__container--register {
  font-size: 14px;
  color: #fff;
}

.login__container--register a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.login__container--register a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
}

::placeholder {
  color: #fff;
}

.check {
  padding: 10px;
  border-radius: 14px;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

.container-description {
  padding: 0 10px 25px 10px;
}

.button-fav-icon {
  background: transparent;
  border: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
}

.button-fav-icon:hover {
  cursor: pointer;
}

.button-fav-icon i {
  font-size: 35px;
}

i {
  color: rgb(230, 70, 182);
}

/* i::after{
  background-color: rgb(230, 70, 182);
} */

#login-error-msg-holder {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#login-error-msg {
  width: 230px;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}

.footer a {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
/* Mobile design */
@media only screen and (max-width: 600px) {
  .login__container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}

/* Register */

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 180px);
  margin-top: 20px;
}

h2 {
  color: #fff;
}

.register__container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  padding: 60px 68px 40px;
  min-height: 500px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.register__container--form {
  display: flex;
  flex-direction: column;
}

.register__container--form label {
  font-size: 14px;
}

.register__container--register {
  font-size: 14px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.register__container--register a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.register__container--register a:hover {
  text-decoration: underline;
}

.input {
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0px 20px;
  outline: none;
  height: 50px;
}

::placeholder {
  color: #fff;
}

.button {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  height: 50px;
  letter-spacing: 1px;
  margin: 10px 0px;
}

.footer {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}

.footer a {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Mobile design */
@media only screen and (max-width: 600px) {
  .register__container {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
